.p-5{
   background: linear-gradient(60deg,#9b3ce9,#000000);
}
.bg-login-image1{
   background:url("https://st2.depositphotos.com/1258191/6689/i/950/depositphotos_66891569-stock-photo-social-network-user-login.jpg");
   background-position: center;
   background-size: cover;
}
.fa-ban{
   color:red
}
.container{
   background: url('https://plexcollectionposters.com/images/2021/05/16/background-images-for-login-page3bc68c53b0db224b.jpg')
}