<div class="container">
    <ng-template #content  >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Notifications</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d(content)"><i class="fa-solid fa-x"></i></button>
        </div>
        <div class="modal-body" *ngIf="erromessage!==''">
            <i class="fa-solid fa-ban"></i> {{erromessage}}
            </div>
      </ng-template>
  <!-- Outer Row -->
  <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <div class="col-lg-6 d-none d-lg-block bg-login-image1"></div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-300 mb-4">Welcome Back!</h1>
                              </div>
                              <form class="user" #f="ngForm" (ngSubmit)=" login(f,content)">
                                  <div  class="form-group">
                                      <input type="email" class="form-control form-control-user"
                                          id="exampleInputEmail" placeholder="Enter Email Address..." name="email" #email="ngModel"  required ngModel>
                                          <!-- <div class="alert alert-danger" *ngIf="myForm1.get('email').touched && myForm1.get('email').hasError('required')">this mail is required  </div>
                                          <div class="alert alert-danger" *ngIf="myForm1.get('email').touched && myForm1.get('email').hasError('email')">this is email so must be exist @</div> -->
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control form-control-user" placeholder="Password"  name="pass" #pass="ngModel"  required ngModel>
                                      <!-- <div class="alert alert-danger" *ngIf="myForm1.get('pass').touched && myForm1.get('pass').hasError('required')">password is required</div> -->
                                  </div>
                                  <button type="submit"  class="btn btn-primary btn-user btn-block">
                                      Login
                                  </button>
                                  <hr>
                                  <a href="index.html" class="btn btn-google btn-user btn-block"  style="color: white;">
                                      <i class="fab fa-google fa-fw"></i> Login with Google
                                  </a>
                                    <a href="http://localhost:3000/auth/facebook" class="btn btn-facebook btn-user btn-block " style="color: white;">
                                      <i class="fab fa-facebook-f fa-fw"></i> login with Facebook
                                  </a>
                                  
                                      
                                  <div
                                 class="fb-like"
                                data-share="true"
                                data-width="450"
                                data-show-faces="true">
                                </div>
                              </form>
                              <hr>
                              <div class="text-center">
                                  <a class="small"  style="color: white;">Forgot Password?</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" routerLink="/signup" style="color:white">Create an Account as an influencer!</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>

</div>