<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let item of listprods| paginate:{ itemsPerPage: 3, currentPage: p } ;index as i" >
    <div class="card">
      <img [src]="item.image" class="card-img-top" >
      <div class="card-body">
        <h5  >name:</h5>
        <h5 class="card-title">{{item.name}}</h5>
        <h5 class="tag" >tag:</h5>
        <p class="card-text">#{{item.tag}}</p>
        
        
      </div>
    </div>
  </div>
</div>
<pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=''">
</pagination-controls>