<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let item of listprods| paginate:{ itemsPerPage: 6, currentPage: p } ;index as i" >
    <div class="card m-2 mt-2" style="border-radius: 15px;">
      <!-- <img [src]="item.image" class="card-img-top" > -->
      <img [src]="item.image" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
              class="image img-fluid" />
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-black-50">name:</p>
            <p>{{item.name}}</p>
          </div>
        </div>
        <!-- <h5  >name:</h5>
        <h5 class="card-title">{{item.name}}</h5>
        <h5 class="tag" >tag:</h5>
        <p class="card-text">#{{item.tag}}</p> -->
        
        
      </div>
      <hr class="my-0" />
    <div class="card-body pb-0">
      <div class="d-flex justify-content-between">
        <p class="text-dark">manager</p>
        <p class="text-dark">  {{managers[i].fullname}}</p>
      </div>
      <hr class="my-0" />
    <div class="card-body pb-0">
      <div class="d-flex justify-content-between">
        <p class="text-dark">price:</p>
        <p class="text-dark">${{item.price}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="tag">tag:</p>
        <p class="text-dark">#{{item.tag}}</p>
      </div>
    </div>
    </div>
    
  </div>
</div>
</div>
<pagination-controls (pageChange)="p = $event" class="float-right"  *ngIf="listprods!=''">
</pagination-controls>

<p *ngIf="listprods==''">there is no products</p>