.fa-trash-can{
    color: red;
}
.fa-pen-to-square{
    color:yellow;
}
.image{
    height: 270px;
}

.card{
    width: 310px;
    height: fit-content;
} 
.tag{
    color: cornflowerblue;
    font-size: medium;
}