 <h1>products</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let element of list| paginate:{ itemsPerPage:itemsofpage, currentPage: p } ;index as i" >
    <div class="card m-2 mt-2" style="border-radius: 15px;">
      <img [src]="element.image" class="image img-fluid" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" >
      <div class="card-body pb-0">
        <h5 class="card-title">{{element.name}}</h5>
        <h2 class="tag">tag:</h2>
        <p class="card-text">#{{element.tag}}</p>
        <small class="text-muted">${{element.price}}</small><br>
        <a (click)="detail(element._id)" class="m-3"><i class="fa-solid fa-file-lines"></i></a>
        <a (click)="open(content,element._id,element.name,element.description,element.price,element.mark,element.image)" class="m-3"><i class="fa-solid fa-pen-to-square"></i></a>
        <a (click)="del(element._id,i+itemsofpage*(p-1))" class="m-3"><i class="fa-solid fa-trash-can" ></i></a>
        <ng-template #content let-c="close" let-d="dismiss">
          <form [formGroup]="myForm"  class="user" (ngSubmit)="update()">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">update</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"><i class="fa-solid fa-x"></i></button>
        </div>
        
        <div class="modal-body row g-3" >
            <div class="col-md-4">
              <label for="validationDefault01" class="form-label" >Product name:</label>
              <input type="text" class="form-control" formControlName="name" required >
            </div>
            <div class="col-md-4">
              <label for="validationDefault02" class="form-label">mark</label>
              <input type="text" class="form-control" formControlName="mark"  required >
            </div>
            <div class="col-md-4">
              <label class="form-label">image</label>
              <div class="input-group">
                <input type="file" class="form-control" required name="image"  (change)="selectImage($event)" >
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationDefault03" class="form-label">descrption</label>
              <textarea class="form-control"   name="description" required  formControlName="description" ></textarea>
              <div class="alert alert-danger" *ngIf=" myForm.get('price').touched && myForm.get('description').hasError('required')">this input is required </div>
            </div>
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">price</label>
              <input type="number" class="form-control"  name="price" required  formControlName="price">
              <div class="alert alert-danger" *ngIf=" myForm.get('price').touched && myForm.get('price').hasError('required')">this input is required </div> 
              <div class="alert alert-danger" *ngIf=" myForm.get('price').touched &&myForm.get('price').hasError('max')">this input must be >0</div>
            </div>
            <div class="col-md-2">
              <label for="validationDefault04" class="form-label">Tag</label>
              <p>{{element.tag}}</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')" [disabled]="myForm.invalid">Save</button>
        </div>
        </form>
      </ng-template>
      </div>
    </div>
  </div>
</div>
<p *ngIf="list==''">there is no product</p>
<pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=''">
</pagination-controls>
<form [formGroup]="filter" >
  <div class="row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" formControlName="fullname">
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit" (click)="chearch()"><i class="fas fa-search fa-sm"></i></button>
    </div>
  </div>
</form>