<div class="container">
      <ng-template #content  >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Notifications</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d(content)"><i class="fa-solid fa-x"></i></button>
        </div>
        <div *ngIf="message!==''" class="modal-body">
            <i class="fa-solid fa-circle-check"></i> {{message}} <br>
            <p>please inter your account facebook for your account work correctly</p>
            <a href="index.html"  class="btn btn-facebook btn-user btn-block ">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
            </a><div class="spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
              </div><br>
        </div>
        <div class="modal-body" *ngIf="erromessage!==''">
            <i class="fa-solid fa-ban"></i> {{erromessage}}
            </div>
      </ng-template>
  <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-register-image1"></div>
              <div class="col-lg-7">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                      </div>
                      <form [formGroup]="myForm"  class="user" (ngSubmit)="register(content)">
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user"  formControlName="fullname" placeholder="FullName" minlength="4">
                              </div>
                              <div class="alert alert-danger" *ngIf="myForm.get('fullname').touched && myForm.get('fullname').hasError('required')">this input is required </div>
                              <div class="alert alert-danger" *ngIf="myForm.get('fullname').touched && myForm.get('fullname').hasError('minlength')">chars must be >4 </div>
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control form-control-user" formControlName="email" placeholder="Email Address">
                          </div>
                          <div class="alert alert-danger" *ngIf="myForm.get('email').touched && myForm.get('email').hasError('required')">this input is required </div>
                          <div class="alert alert-danger" *ngIf="myForm.get('email').touched && myForm.get('email').hasError('email')"> this is an Email must be exist an @ </div>
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="password" class="form-control form-control-user" formControlName="password" placeholder="Password">
                                  <div class="alert alert-danger" *ngIf="myForm.get('password').touched && myForm.get('password').hasError('required')">this input is required </div>
                              </div>

                              <div class="col-sm-6">
                                  <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" formControlName="repass"  placeholder="Repeat Password">
                                  <div class="alert alert-danger" *ngIf="myForm.get('repass').touched && myForm.get('repass').hasError('required')">this input is required </div>
                              </div>
                          </div>
                          <button type="submit"  class="btn btn-primary btn-user btn-block">
                              Register Account
                          </button>
                          <hr>
                          <a href="index.html"  class="btn btn-facebook btn-user btn-block ">
                              <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                          </a>
                      </form>
                      <hr>
                      <div class="text-center">
                          <a class="small" routerLink="/login">Already have an account? Login!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
