<div class="row m-3" style="max-height: 100%;">
    <div class="col-12 " >
      
  </div>
  </div><br>
  <div class="row" style="max-height: 100%;">
      <div class="col-2 bg-info" style="max-height: 100%;">
        <i class="fas fa-user-circle fa-5x" ></i><p>nom de l'influceur</p>
        <div class="list-group" id="list-tab" role="tablist"> 
          <a class="list-group-item list-group-item-action active w-100 p-5" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">les produit</a>
          <a class="list-group-item list-group-item-action w-100 p-5" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">les annonces</a>
          <a class="list-group-item list-group-item-action w-100 p-5" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">les messages</a>
        </div>
      </div>
      <div class="col-10">
      
      <nav aria-label="..."   >
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" routerLink="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
          </li>
          <li class="page-item"><a class="page-link" routerLink="#">3</a></li>
          <li class="page-item">
            <a class="page-link" routerLink="#">Next</a>
          </li>
        </ul>
      </nav>
      <form class="d-flex mt-5">
        <input class="form-control me-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form><br>


     </div>
    </div>
