.p-5{
   background: linear-gradient(60deg,#9b3ce9,#000000);
}
.bg-login-image1{
   background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZSZIgwMGQ15Gaumn6tCt3NQ4ieIhHCrB7vg&usqp=CAU");
   background-position: center;
   background-size: cover;
}

