 .align-items-md-start img{
    max-width: 100%;
    height: auto;
    }
    .align-items-md-start{
      position:relative  
    }
    
    .cord img{
      width: 100%;
    }
    .card-img-overlay{
      position:relative;
      width: 100%;
      margin-top: -40% ;
      font-size:40px ;
    }
    .card-img-overlay h5{
      text-align: center;
      font-size: 10vw;
      color: darkblue;
    }
    .card-img-overlay p{
      color:rgb(56, 223, 51);
    }
    .card-img-overlay h6{
      font-size: 6vw;
      color:gray;
    }
    .imageprod{
      height: 250px;
  }
    .col-12 header p{
      color: aqua;
    
    }
    header{
      background-image: url("https://www.teahub.io/photos/full/364-3648044_blue-white-background-vector-vector-blue-and-white.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    } 
    .coloro{
      background-color: linear-gradient(60deg,#2b48ca,#d338fa,#54c08a);
    }
    