<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">full anme </th>
        <th scope="col">email</th>
        <th scope="col">for accept</th>
        <th scope="col">for refuse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td><i class="fa-solid fa-circle-check"></i></td>
        <td><i class="fa-solid fa-circle-xmark"></i></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td><i class="fa-solid fa-circle-check"></i></td>
        <td><i class="fa-solid fa-circle-xmark"></i></td>
      </tr>
      <tr>
        <td>Larry </td>
        <td>the Bird</td>
        <td><i class="fa-solid fa-circle-check"></i></td>
        <td><i class="fa-solid fa-circle-xmark"></i></td>
      </tr>
    </tbody>
  </table>
