.image{
    width: 418px;
    height: 360px;
    
}
.imageman{
    weight:10px;
    height:40px;
}
.imageprod{
    height: 270px;
}
.total{
    font-size: x-large;
    color: blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}