<div class="row gutters-sm">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img *ngIf="image!=null" [src]="item.image" class="image rounded-circle card-img-top">
        <img *ngIf="image==null" src="assets/admin/img/undraw_profile.svg" class="image rounded-circle card-img-top">
          <div class="mt-3">
            <h4>{{fullname}}</h4>
            <form   class="row g-3" [formGroup]="myForm" *ngIf="condition"  (ngSubmit)="change()" >
              <input type="file"  formControlName="image"  required (change)="selectImage($event)">
              <button type="submit" class="btn btn-primary">change</button>
              </form>
            <p class="text-muted font-size-sm"*ngIf="!condition && fbid">friends:{{number}}</p>
            <!-- <button *ngIf="isman" class="btn btn-primary">Follow</button>
            <button *ngIf="isman" class="btn btn-outline-primary">Message</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row"*ngIf="!condition && fbid">
          <div class="col-sm-3">
            <h6 class="mb-0">number of friends</h6>
          </div>
          <div class="col-sm-9 text-secondary">{{number}}
          </div>
        </div>
        <hr *ngIf="!condition && fbid">
        <div class="row" *ngIf="email">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
          {{email}}
          </div>
        </div>
        <hr *ngIf="!fbid">
        <div class="row" *ngIf="totalinteret>0" >
          <div class="col-sm-3">
            <h6 class="mb-0">total profit:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            ${{totalinteret}}
          </div>
        </div>
        <hr *ngIf="totalinteret>0">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">paid:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            ${{youpaytohim}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">not paid:</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            ${{notpayed}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">number of managers</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{managernumber}}
          </div>
        </div>
        <!-- for paying (manager) -->
        <div class="row" *ngIf="isman">
        <button class="btn btn-primary" (click)="open(content)">pay</button>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <form [formGroup]="forpay"  class="user" (ngSubmit)="update()">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">update</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"><i class="fa-solid fa-x"></i></button>
        </div>
        
        <div class="modal-body row g-3" >
            <div class="col-md-4">
              <label for="validationDefault02" class="form-label">Card</label>
              <input type="text" class="form-control" formControlName="Card"  required minlength="8" >
               <div class="alert alert-danger" *ngIf=" forpay.get('Card').touched && forpay.get('Card').hasError('required')">this input is required </div> 
               <div class="alert alert-danger" *ngIf=" forpay.get('Card').touched &&forpay.get('Card').hasError('minlength')">chars must be >8 </div> 
            </div>
            <div class="col-md-4">
              <label for="validationDefault04" class="form-label">price</label>
              <input type="number" class="form-control"  name="price" required  formControlName="price">
              <div class="alert alert-danger" *ngIf=" forpay.get('price').touched && forpay.get('price').hasError('required')">this input is required </div> 
               <div class="alert alert-danger" *ngIf=" forpay.get('price').touched &&forpay.get('price').hasError('max')">this input must be less or equal then {{notpayed}} </div> 
            </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" (click)="c('Save click')" [disabled]="forpay.invalid">Save</button>
        </div>
        </form>
      </ng-template>
      </div>
    </div>
  </div>
</div>
<table *ngIf="!condition" class="table">
  <h2 *ngIf="list!=''">Ads</h2>
  <p *ngIf="list==''&&isman&&fbid">this influencer did not post for any product or you should accepte their postes</p>
  <p *ngIf="fbid==null">this for the influencers who loged in with facebook</p>
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" *ngFor="let item1 of list| paginate:{ itemsPerPage: 3, currentPage: p } ;index as i" >
      <div class="card m-2 mt-2" style="border-radius: 15px;">
        <img [src]="item1.image" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
                class="imageprod img-fluid" />
        <div class="card-body pb-0">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-black-50">name:</p>
              <p>{{item1.name}}</p>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body pb-0">
          <div class="d-flex justify-content-between" *ngIf="!isman">
            <p class="text-dark">manager</p>
            <p class="text-dark">
              <img class="imageman img-profile rounded-circle" *ngIf="managers[i].image==null" src='assets/admin/img/undraw_profile.svg'>
              <img class="imageman img-profile rounded-circle" *ngIf="managers[i].image!=null" [src]="managers[i].image">
              {{managers[i].fullname}}</p>
          </div>
          <hr class="my-0" *ngIf="!isman" />
          <div class="d-flex justify-content-between">
            <p class="text-dark">reactions:</p>
            <p class="text-dark">{{list2[i]}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-dark">gains for love reactions :</p>
            <p class="text-dark">${{listinteretforlove[i]}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-dark">gains for like reactions :</p>
            <p class="text-dark">${{listinteretforlike[i]}}</p>
          </div>
          <hr class="my-0" />
          <div class="d-flex justify-content-between">
            <p class="text-dark">price:</p>
            <p class="text-dark">${{item1.price}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="tag">tag:</p>
            <p class="text-dark">#{{item1.tag}}</p>
          </div>
          <a (click)="detail(pubids[i])" class="m-3"><i class="fa-solid fa-file-lines"></i></a>
          <hr class="my-0">
        </div>
      
      </div>
   </div>
  </div>
<pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=''">
</pagination-controls>
 </table> 
