<div class="row gutters-sm">
 <div class="col-md-4 mb-3">
   <!-- <img *ngIf="image!=null" [src]="item.image" class="rounded-circle card-img-top">
   <img *ngIf="image==null" src="assets/admin/img/undraw_profile.svg" class="rounded-circle card-img-top">
   <form   class="row g-3" [formGroup]="myForm"  (ngSubmit)="change()" *ngIf="condition" >
   <input type="file"  formControlName="profile"  required (change)="selectImage($event)">
   <button type="submit" class="btn btn-primary">change</button>
   </form>
    <div class="card-body">
    <h5 class="card-title">{{item.fullname}}</h5>
    <p class="card-text">{{item.email}}</p>
    </div> <br> -->
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img *ngIf="image!=null" [src]="item.image" class="image rounded-circle card-img-top">
          <img *ngIf="image==null" src="assets/admin/img/undraw_profile.svg" class="image rounded-circle card-img-top">
          <div class="mt-3">
            <h4>{{item.fullname}}</h4>
            <form   class="row g-3" [formGroup]="myForm"  (ngSubmit)="change()" *ngIf="condition" >
              <input type="file"  formControlName="profile"  required (change)="selectImage($event)">
              <button type="submit" class="btn btn-primary">change</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">number of influencers</h6>
          </div>
          <div class="col-sm-9 text-secondary">0
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{item.email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">standerd salary for influencers</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            ${{item.standard}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">multiplicateur salary with likes</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            X{{item.foreachmultilike}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">multiplicateur salary with loves</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            X{{item.foreachmultilove}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!condition">
   <h1>his products</h1><br>
   <form [formGroup]="filter" >
    <div class="row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
      <div class="col col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" formControlName="fullname">
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit" (click)="chearch()"><i class="fas fa-search fa-sm"></i></button>
      </div>
    </div>
  </form>
   <div  class="row row-cols-1 row-cols-md-3 g-4 m-2" >
  <div class="col" *ngFor="let element of list| paginate:{ itemsPerPage: 3, currentPage: p } ;index as i" >
    <div class="card">
      <img [src]="element.image" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">{{element.name}}</h5>
        <p class="card-text">{{element.description}}</p>
        <h3>tag:</h3>
        <p>#{{element.tag}}</p>
        <small class="text-muted">{{element.price}}$</small><br>
        <a (click)="detail(element._id)" class="m-3"><i class="fa-solid fa-file-lines"></i></a>
        
      </div>
    </div>
    
  </div>
  
</div>
<p *ngIf="list==''&&test!=''">there is no product with this name that you are searching for</p>
<p *ngIf="test==''&& list==''">there is no product at all</p>
<pagination-controls 
        (pageChange)="p = $event" 
        class="float-right" *ngIf="list!=''">
        </pagination-controls>
</div>
      