<p>le profit total:..</p><br>
<p>le profit restant:..</p><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">nom du produit</th>
        <th scope="col">date de publication</th>
        <th scope="col">nombre des aime sur fb</th>
        <th scope="col">nombre des aime sur instagrame</th>
        <th scope="col">profit total de pub sur fb</th>
        <th scope="col">profit total de pub sur instagrame</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
    </tbody>
  </table>
