<h1>influencers</h1> <br>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Fullname </th>
        <th scope="col">email</th>
        <th scope="col"> avatar</th>
        <th scope="col">for details</th>
        <th scope="col">for fire</th>
      </tr>
    </thead>
    <tbody >
      <tr class="listes" *ngFor="let item of list| paginate:{ itemsPerPage: itemsofpage, currentPage: p } ;index as i">
        <td>{{item.fullname}}</td>
        <td *ngIf="item.email!=null">{{item.email}}</td>
        <td *ngIf="item.email==null">this influencer use a facebook account</td>
        <td class="td"><img class="img-profile rounded-circle" *ngIf="item.image==null" src='assets/admin/img/undraw_profile.svg'>
          <img class="img-profile rounded-circle" *ngIf="item.image!=null" [src]="item.image"></td>
        <td><i class="fa-solid fa-file-lines" (click)="toprofinf(item._id)" ></i></td>
        <td><i class="fa-solid fa-user-minus" (click)="fier(item._id,i+itemsofpage*(p-1))"></i></td>
      </tr>
    </tbody>
    <p *ngIf="list==''" >there is no influencers </p>
    <pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=''">
</pagination-controls>
  </table>
