<table class="table">
    <thead>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">marck</th>
        <th scope="col">image</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col"> for delete </th>
      </tr>
    </thead>
    <tbody>
      <tr class="lists" *ngFor="let element of list">
        <th scope="row">{{element.name}}</th>
        <td>{{element.mark}}</td>
        <td>{{element.image}}</td>
        <td>{{element.description}}</td>
        <td>{{element.price}}</td>
        <td ><button (click)="del(element._id)"><i class="fa-solid fa-trash-can" ></i></button></td>
      </tr>
    </tbody>
  </table>
