.titre{
    color: rgb(156, 39, 234);
    font-size: medium;
    font-weight:lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.desc{
    color: darkorange;
    font-size: medium;
    font-weight:bolder;
}
.second{
    width: fit-content;
    color:blueviolet;
    font-weight: bolder;
}
.price{
    color: aqua;
    font-size: small;
    
}
.card-img-top{
    width: 400px;
    height: 500px;
}