.titre{
    color: rgb(156, 39, 234);
    font-size: medium;
    font-weight:lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.desc{
    color: darkorange;
    font-size: medium;
    font-weight:bolder;
}
.second{
    color:blueviolet;
    font-weight: bolder;
}
.price{
    color: aqua;
    
    
}
.img-fluid{
   width:max-content;
   height: 400px;
}