<h1>New influencers</h1> <br>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Fullname </th>
        <th scope="col">email</th>
        <th scope="col" >num of friends </th>
        <th scope="col">for accept</th>
        <th scope="col">for refuse</th>
      </tr>
    </thead>
    <tbody >
      <tr class="listes" *ngFor="let item of list| paginate:{ itemsPerPage:itemsofpage, currentPage: p } ;index as i">
        <td>{{item.fullname}}</td>
        <td *ngIf="item.email!=null">{{item.email}}</td>
        <td *ngIf="item.email==null">this influencer use facebook account</td>
        <td>{{numberfriend[i]}}</td>
        <td (click)="accepter(item._id,i+itemsofpage*(p-1))"><i class="fa-solid fa-circle-check"></i></td>
        <td (click)="refuse(item._id,i+itemsofpage*(p-1))"><i class="fa-solid fa-circle-xmark"></i></td>
      </tr>
    </tbody>
    <p *ngIf="list==''" >there is no influencers </p>
    <pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=''">
</pagination-controls>
  </table>
