.fa-circle-check{
    color: green;
}
.fa-trash-can{
    color: red;
}
.fa-file-lines{
    color:cadetblue
}
.fa-user-plus{
    color:aqua
}
.fa-user-check{
    color: green;
}
.fa-user-clock{
    color: darkorange;
}