<h1>influencers</h1> <br>
<form [formGroup]="myForm" >
  <div class="row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" formControlName="fullname">
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit" (click)="chearch()"><i class="fas fa-search fa-sm"></i></button>
    </div>
  </div>
</form>
<table class="table" *ngIf="condition">
  
    <thead class="table-dark">
      <tr>
        <th scope="col">Fullname </th>
        <th scope="col">email</th>
        <th scope="col">for details</th>
        <th scope="col">for delete</th>
      </tr>
    </thead>
    <tbody >
      <tr class="listes" *ngFor="let item of list| paginate:{ itemsPerPage: 5, currentPage: p };index as i">
        <td>{{item.fullname}}</td>
        <td>{{item.email}}</td>
        <td><i class="fa-solid fa-file-lines"  (click)="toprofinf(item._id)"></i></td>
        <td><i class="fa-solid fa-trash-can" (click)="del(item._id,i)"></i></td>
      </tr>
    </tbody>
    <p *ngIf="!list" >there is no influencers </p>
    <pagination-controls 
(pageChange)="p = $event" 
class="float-right">
</pagination-controls>
  </table>
  <table class="table" *ngIf="mancond" >
    <form ></form>
      <thead class="table-dark">
        <tr>
          <th scope="col">Fullname </th>
          <th scope="col">email</th>
          <th scope="col">opperation</th>
        </tr>
      </thead>
      <tbody >
        <tr class="listes" *ngFor="let item of list | paginate:{ itemsPerPage: 5, currentPage: p };index as i">
          <td>{{item.fullname}}</td>
          <td>{{item.email}}</td>
          <td *ngIf="!invit[i]&&!accept[i]&&!wait[i]" ><i class="fa-solid fa-user-plus" (click)="invitation(item._id,i)"></i></td>
          <td *ngIf="accept[i]"><i class="fa-solid fa-user-check" ></i></td>
          <td *ngIf="invit[i]" ><i class="fa-solid fa-user-clock"(click)="desinvit(item._id,i)"></i></td>
          <td *ngIf="wait[i]" routerLink="../ninf">attend...</td>
        </tr>
      </tbody>
      <p *ngIf="!list" >there is no managers </p>
      <pagination-controls 
(pageChange)="p = $event" 
class="float-right" *ngIf="list!=undefined">
</pagination-controls>
    </table>
