<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col" *ngFor="let item of list| paginate:{ itemsPerPage: itemsofpage, currentPage: p } ;index as i" >
    <div class="card m-2 mt-2" style="border-radius: 15px;">
      <img [src]="item.image" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
              class="imageprod img-fluid" />
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-black-50">name:</p>
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <div class="card-body pb-0">
        <div class="d-flex justify-content-between">
          <p class="text-dark">influencer:</p>
          <p class="text-dark">
            <img class="imageman img-profile rounded-circle" *ngIf="influencer[i+itemsofpage*(p-1)].image==null" src='assets/admin/img/undraw_profile.svg'>
            <img class="imageman img-profile rounded-circle" *ngIf="influencer[i+itemsofpage*(p-1)].image!=null" [src]="influencer[i+itemsofpage*(p-1)].image">
            {{influencer[i+itemsofpage*(p-1)].fullname}}</p>
        </div>
        <hr class="my-0"/>
        <div class="d-flex justify-content-between">
          <p class="text-dark">reactions:</p>
          <p class="text-dark">{{list2[i+itemsofpage*(p-1)]}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="text-dark">loves reactions :</p>
          <p class="text-dark">{{listlove[i+itemsofpage*(p-1)]}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="text-dark">likes reactions :</p>
          <p class="text-dark">{{listlike[i+itemsofpage*(p-1)]}}</p>
        </div>
        <hr class="my-0" />
        <div class="d-flex justify-content-between">
          <p class="text-dark">price:</p>
          <p class="text-dark">${{item.price}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="tag">tag:</p>
          <p class="text-dark">#{{item.tag}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <a (click)="detail(pubids[i+itemsofpage*(p-1)],influencer[i+itemsofpage*(p-1)]._id)" class="m-3"><i class="fa-solid fa-file-lines"></i></a>
          <button type="button" *ngIf="!acceptedpub[i+itemsofpage*(p-1)]&&!is_accepted[i+itemsofpage*(p-1)]"  class="btn btn-success" (click)="accepter(foraccepte[i+itemsofpage*(p-1)].id,id,foraccepte[i+itemsofpage*(p-1)].full_picture,i+itemsofpage*(p-1))">accept</button>
        <button type="button" *ngIf="acceptedpub[i+itemsofpage*(p-1)] && !is_accepted[i]"  class="btn btn-danger" (click)="cancel(foraccepte[i+itemsofpage*(p-1)].id,id,foraccepte[i+itemsofpage*(p-1)].full_picture,i+itemsofpage*(p-1))">cancel</button>
        </div>
        <hr class="my-0">
      </div>
    
    </div>
 </div>
</div>
<pagination-controls 
 (pageChange)="p = $event" 
class="float-right" *ngIf="list!=''" >
</pagination-controls> 
 
