<p>nombre total d les influenceur: ...</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">fullname</th>
        <th scope="col">nombre des abonées sur facbook</th>
        <th scope="col">nombre des abonées sur instagram</th>
        <th scope="col">nombre moyenne des aimée par post sur facbook</th>
        <th scope="col">nombre moyenne des aimée par post sur instagram</th>
        <th scope="col">avatar</th>
        <th scope="col">plus details </th>
        <th scope="col">communiquer</th>
        <th scope="col">delete</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>20K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>40K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>30K</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td><i class="fas fa-id-badge"></i></td>
        <td><i class="fas fa-comment-dots"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
    </tbody>
  </table>